html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background:rgb(105, 94, 94) url("../img/newyorkbackground.webp") no-repeat;
    background-size: cover;
    background-repeat: space;
  }
  
  h1, h2 {
    font-family: 'Press Start 2P', monospace;
    color: rgb(0, 0, 0);
  }
  
  canvas {
    background: rgb(255, 0, 1) url("../img/graffitibackground.jpeg") no-repeat;
    background-size: cover;
    width: 800px;
    height: 400px;
  }
  
  #container {
  width: 832px;
  height: 588px;
  max-width: 50em;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: .25fr 5fr .25fr;
  grid-template-columns: .25fr 5fr .25fr;
  grid-template-areas: "top-left top-left top-right"
                        "game game game"
                        "btm-left btm-right btm-right";
  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(93, 84, 84);
  }
  
  #top-left {
    grid-area: top-left;
  }
  
  #top-right {
    grid-area: top-right;
  }
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
  }
  
  #btm-right {
    grid-area: btm-right;
  }